@font-face {
  font-family: "NotoSansKR";
  font-weight: 900;
  src: url("./asset/fonts/NotoSansKR-Black.ttf") format("truetype");
  src: url("./asset/fonts/NotoSansKR-Black.ttf") format("woff");
  src: url("./asset/fonts/NotoSansKR-Black.ttf") format("woff2");
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  src: url("./asset/fonts/NotoSansKR-Bold.ttf") format("truetype");
  src: url("./asset/fonts/NotoSansKR-Bold.ttf") format("woff");
  src: url("./asset/fonts/NotoSansKR-Bold.ttf") format("woff2");
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 500;
  src: url("./asset/fonts/NotoSansKR-Medium.ttf") format("truetype");
  src: url("./asset/fonts/NotoSansKR-Medium.ttf") format("woff");
  src: url("./asset/fonts/NotoSansKR-Medium.ttf") format("woff2");
}


@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: url("./asset/fonts/NotoSansKR-Regular.ttf") format("truetype");
  src: url("./asset/fonts/NotoSansKR-Regular.ttf") format("woff");
  src: url("./asset/fonts/NotoSansKR-Regular.ttf") format("woff2");
}

/*
보통 경우 이거 쓰면 됨
*/

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 300;
  src: url("./asset/fonts/NotoSansKR-Light.ttf") format("truetype");
  src: url("./asset/fonts/NotoSansKR-Light.ttf") format("woff");
  src: url("./asset/fonts/NotoSansKR-Light.ttf") format("woff2");
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 100;
  src: url("./asset/fonts/NotoSansKR-Thin.ttf") format("truetype");
  src: url("./asset/fonts/NotoSansKR-Thin.ttf") format("woff");
  src: url("./asset/fonts/NotoSansKR-Thin.ttf") format("woff2");
} 